@model LMS_model.User

@{
    ViewBag.Title = "Login";
  
    Layout = "~/Views/Shared/_Layout.cshtml";
<link href="~/Content/bootstrap-lumen.css" rel="stylesheet" />
    
}

<h2>Login</h2>

@Html.ValidationSummary(true)
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(u => u.UserName)
        @Html.TextBoxFor(u => u.UserName, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.UserName)
    </div>
    <div class="form-group">
        @Html.LabelFor(u => u.password)
        @Html.PasswordFor(u => u.password, new { @class = "form-control" })
        @Html.ValidationMessageFor(u => u.password)
    </div>
    <p>
        <button type="submit" class="btn btn-primary">Log In</button>
        
        @Html.ActionLink("Sing UP", "Registeration", "Auth", new { @class = "btn btn-primary"} )
        
    </p>
    <p>
        @*<button type="submit" class="btn btn-primary">Sing UP</button>*@
    </p>
   
    @Html.ActionLink("Forget My password", "Registeration", "Auth")
    
 }
